{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset Complete - Palas{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class="material-icons display-4 text-success mb-3">check_circle</i>
                    <h3 class="card-title mb-3">Lozinka uspešno promenjena</h3>
                    <p class="card-text">
                        Vaša lozinka je uspešno promenjena. Sada se možete prijaviti sa novom lozinkom.
                    </p>
                    <a href="{% url 'store:login' %}" class="btn btn-primary">Prijavi se</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 